.container{
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    padding: 56px;
    background: white;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
}

mat-form-field{
  width: 316px;
}

.actions{
  display: flex;
  flex-direction: column;
  button{
    margin: 10px 0;
    width: 316px;
  }
}

.b-image-black {
  min-height: 100vh;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  background-image: url('../../../../assets/images/compute-ea4c57a4.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
}
