<div class="container">
  <h1 mat-dialog-title>Create/Update role</h1>

<form [formGroup]="formGroup" mat-dialog-content class="dialog-content">
  <mat-form-field>
    <mat-label>Role Name</mat-label>
    <input
      matInput
      type="text"
      placeholder="Name"
      formControlName="name"
    />
    <mat-error>{{
      this.getFieldError(this.formGroup.controls["name"])
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select a privilige</mat-label>
  <mat-select formControlName="priviliges"  multiple>
    <mat-option
    *ngFor="let privilige of privsList"  [value]="privilige">{{privilige.name}}</mat-option>
  </mat-select>
  </mat-form-field>

  <div mat-dialog-actions class="buttons">
    <button mat-button cdkFocusInitial (click)="save()">ok</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </div>

