<h1 mat-dialog-title>Change your Password</h1>
<form
  mat-dialog-content
  [formGroup]="changePassFormGoup"
  mat-dialog-content
  class="form"
>
  <mat-form-field>
    <mat-label>Current Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Current Password"
      formControlName="current"
    />
    <mat-error>{{
      this.getFieldError(this.changePassFormGoup.controls["current"])
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="New Password"
      formControlName="newPass"
    />
    <mat-error>{{
      this.getFieldError(this.changePassFormGoup.controls["newPass"])
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Repeat New Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Repeat New Password"
      formControlName="repeatPass"
    />
    <mat-error>{{
      this.getFieldError(this.changePassFormGoup.controls["repeatPass"])
    }}</mat-error>
  </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-flat-button color="primary" cdkFocusInitial type="submit" [disabled]="this.checkIfReadyToSave()" (click)="submitPasswordChange()">Change Password</button>
</div>
