.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .dialog-content{
    display: flex;
    flex-direction:column;
    min-width: 600px;
    min-height: 150px;
    overflow-y: auto;
  }

  .buttons
  {
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
  }
