.container{
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  container:nth-child(1){
    width: 20%;
  }
  container:nth-child(2){
    width: 20%;
  }
  container:nth-child(3){
    width: 20%;
  }
  container:nth-child(4){
    width: 20%;
  }

  container:nth-child(5){
    width: 20%;
  }
}

.column{
  border-radius: 2%;
  background-color: white;
  margin: 12px 0;
  h2{
    width: 100% !important;
    justify-self: center;
  }
}

.card-container{
  min-width: 250px !important;
  margin-top: 10px;
}

.card{
  display: flex;
  flex-direction: column;
}

.card-header{
  display: flex;
  justify-self: center;
}

.card-content{
  display: flex !important;
  justify-content: space-around !important;
  flex-direction: column !important;
}

.card-footer{
  display: flex;
  justify-content: flex-end;
}
