.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  container:nth-child(1){
    width: 20%;
  }
  container:nth-child(2){
    width: 20%;
  }
  container:nth-child(3){
    width: 20%;
  }
  container:nth-child(4){
    width: 20%;
  }

  container:nth-child(5){
    width: 20%;
  }
}

.column{

  padding: 12px;

  min-width: 281px;
}

.card-container{
  padding-top: 5px;
  width: 280px !important;
  height: 280;
  margin-top: 10px;
}

.card{
  display: flex;
  flex-direction: column;
}

.card-header{
  display: block;
  justify-self: flex-start;
}

.card-content{
  display: flex !important;
  justify-content: space-around !important;
  flex-direction: column !important;
}

.card-footer{
  display: flex;
  justify-content: flex-end;
}

h2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main{
  padding: 12px;
}
