
  <mat-card class="center-v master-container mat-elevation-z8 container">
      <mat-card-title>Profile</mat-card-title>
      <mat-card-content>
          <h3>Username: Ionica23</h3>
          <h3>Firstame: Ionut</h3>
          <h3>Lastname: Popescu</h3>
          <h3>Email: ionut.popescu@yahoo.com</h3>
          <h3>Group: Group 1</h3>
          <button mat-button color="warn">->Edit profile<-</button>
          <button mat-button color="warn">->Change Password<-</button>
          <button mat-button color="warn">->Logout<-</button>
      </mat-card-content>
  </mat-card>

