<div class="b-image">
  <mat-card class="container">
    <mat-card-header>
      <h3>Create Account</h3>
    </mat-card-header>
    <mat-card-content>
      <input type="text" placeholder="Usernmae" />
      <input type="password" placeholder="password" />
      <input type="password" placeholder="Repeat Password" />
      <input type="text" placeholder="Email" />
      <input type="text" placeholder="FirstName"/>
      <input type="text" placeholder="Surname"/>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="login()">Login</button>
      <button mat-flat-button color="primary" (click)="register()">Register</button>
    </mat-card-actions>
  </mat-card>
</div>
